[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
bs4 = "*"
feedfinder2 = "*"
readability-lxml = "*"
url-normalize = "*"
user-agent = "*"
validators = "*"
"html5lib" = "*"
feedparser = "*"
pytz = "*"
"s3transfer" = "*"

[dev-packages]

[requires]
python_version = "3.6"
