[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
bs4 = "*"
feedfinder2 = "*"
feedparser = "*"
readability-lxml = "*"
requests = "*"
url-normalize = "*"
user-agent = "*"
validators = "*"
"html5lib" = "*"

[dev-packages]
ipython = "*"
pylint = "*"
pytest = "*"
pytest-env = "*"
rope = "*"
moto = "*"
responses = "*"
lxml = "*"

[requires]
python_version = "3.6"
